In [2]:
%load_ext autoreload
%autoreload 2

In [5]:
from src.cycling_dynamics import load_data
from src.cycling_dynamics.dynamics import simulator

df = load_data.load_fit_file("../tests/test_data/vincent_lap_1_24HOP_14012433014_ACTIVITY.fit")
# df['seconds'] = df.index + 1
df

INFO:root:Loading FIT file
INFO:root:Using enhanced_speed
INFO:root:Using enhanced_altitude
INFO:root:Using calculated seconds
INFO:root:Using calculated slope
INFO:root:Using calculated vertical acceleration magnitude
INFO:root:Using calculated normalized power
INFO:root:Using calculated air density
INFO:root:Using default temperature of 30 degrees C

,timestamp,position_lat,position_long,distance,speed,altitude,heart_rate,temperature,107,137,...,cadence,fractional_cadence,left_right_balance,90,seconds,slope,slope_3sec,vam,np,air_density
0,2024-02-18 01:28:35+00:00,39.016556,-132.329475,0.00,0.998,1189.0,84,30,0,28,...,NaN,NaN,NaN,NaN,0.0,NaN,NaN,NaN,NaN,1.003498
1,2024-02-18 01:28:36+00:00,39.016537,-132.329499,2.59,1.819,1188.6,84,30,1,28,...,NaN,NaN,NaN,NaN,1.0,-0.154440,NaN,-1440.0,NaN,1.003549
2,2024-02-18 01:28:37+00:00,39.016539,-132.329523,4.45,2.519,1188.6,87,30,1,28,...,NaN,NaN,NaN,NaN,2.0,0.000000,-0.051480,0.0,NaN,1.003549
3,2024-02-18 01:28:38+00:00,39.016528,-132.329552,6.80,2.921,1188.6,87,30,1,28,...,NaN,NaN,NaN,NaN,3.0,0.000000,0.021030,0.0,NaN,1.003549
4,2024-02-18 01:28:39+00:00,39.016525,-132.329595,9.97,3.742,1188.8,91,30,1,28,...,NaN,NaN,NaN,NaN,4.0,0.063091,0.021030,720.0,NaN,1.003524
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3771,2024-02-18 02:31:26+00:00,39.017003,-132.329498,26229.98,2.706,1188.6,143,30,1,1,...,0.0,0.0,NaN,0.0,3771.0,-0.072202,-0.042637,-720.0,241.79254,1.003549
3772,2024-02-18 02:31:27+00:00,39.016978,-132.329462,26233.57,3.536,1188.4,143,30,1,1,...,0.0,0.0,NaN,0.0,3772.0,-0.055710,-0.042637,-720.0,241.79254,1.003574
3773,2024-02-18 02:31:28+00:00,39.016951,-132.329431,26237.04,3.359,1188.4,145,30,1,1,...,0.0,0.0,NaN,0.0,3773.0,0.000000,-0.037727,0.0,241.79254,1.003574
3774,2024-02-18 02:31:29+00:00,39.016916,-132.329415,26240.52,3.415,1188.2,146,30,1,1,...,0.0,0.0,NaN,0.0,3774.0,-0.057471,-0.036564,-720.0,241.79254,1.003599
3775,2024-02-18 02:31:30+00:00,39.016876,-132.329403,26244.35,3.695,1188.0,145,30,1,1,...,0.0,0.0,NaN,0.0,3775.0,-0.052219,NaN,-720.0,241.79254,1.003624

In [7]:
s = simulator(df)
s

,timestamp,position_lat,position_long,distance,speed,altitude,heart_rate,temperature,107,137,...,speed_smoothed,slope_smoothed,power_smoothed,air_drag_watts_smoothed,climbing_watts_smoothed,rolling_watts_smoothed,est_power_smoothed,efficiency_loss_watts_smoothed,acceleration_watts_smoothed,est_power_no_acceleration_smoothed
0,2024-02-18 01:28:35+00:00,39.016556,-132.329475,0.00,0.998,1189.0,84,30,0,28,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2024-02-18 01:28:36+00:00,39.016537,-132.329499,2.59,1.819,1188.6,84,30,1,28,...,1.778667,NaN,NaN,1.738555,NaN,NaN,19.935090,-0.797404,NaN,NaN
2,2024-02-18 01:28:37+00:00,39.016539,-132.329523,4.45,2.519,1188.6,87,30,1,28,...,2.419667,-0.051480,NaN,3.547582,-63.529299,8.280747,53.841306,-2.153652,103.388623,-53.855177
3,2024-02-18 01:28:38+00:00,39.016528,-132.329552,6.80,2.921,1188.6,87,30,1,28,...,3.060667,0.021030,NaN,7.053763,53.915240,10.496768,220.513193,-8.820528,140.226893,74.443512
4,2024-02-18 01:28:39+00:00,39.016525,-132.329595,9.97,3.742,1188.8,91,30,1,28,...,3.698333,0.021030,NaN,12.426700,53.915240,12.685460,259.860236,-10.394409,170.438427,82.320209
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3771,2024-02-18 02:31:26+00:00,39.017003,-132.329498,26229.98,2.706,1188.6,143,30,1,1,...,2.976333,-0.042637,0.0,6.307125,-89.597575,10.201501,-25.494621,1.019785,48.614113,-76.134322
3772,2024-02-18 02:31:27+00:00,39.016978,-132.329462,26233.57,3.536,1188.4,143,30,1,1,...,3.200333,-0.042637,0.0,7.705780,-89.597575,10.970346,-15.743672,0.629747,55.807523,-73.876509
3773,2024-02-18 02:31:28+00:00,39.016951,-132.329431,26237.04,3.359,1188.4,145,30,1,1,...,3.436667,-0.037727,0.0,9.218850,-89.842248,11.783126,-10.177232,0.407089,59.070130,-71.708617
3774,2024-02-18 02:31:29+00:00,39.016916,-132.329415,26240.52,3.415,1188.2,146,30,1,1,...,3.489667,-0.036564,0.0,9.690519,-88.927230,11.965551,-54.730100,2.189204,14.730263,-70.074125
3775,2024-02-18 02:31:30+00:00,39.016876,-132.329403,26244.35,3.695,1188.0,145,30,1,1,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN